{% extends "network/layout.html" %}
{% load static %}
{% block body %}
{% if current_user == user %}
    <h3>MY PROFILE</h3>
{% else %}
    <h3>{{ user.username }}'s PROFILE</h3>
    {% if current_user in follower_list %}
    <form action="{% url 'unfollow_user' user.username %}" method="post" style="display: inline;">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Unfollow</button>
    </form>
    {% else %}
    <form action="{% url 'follow_user' user.username %}" method="post" style="display: inline;">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">Follow</button>
    </form>
    {% endif %}

{% endif %}
<div>
    <p>followers:{{follower}}</p>
</div>
<div>
    <p>followings:{{following}}</p>
</div>
<div id="posts-container"></div>
    
</div>
<div id="pagination-buttons"></div>


{% endblock %}

{% block script %}
<script src="{% static 'network/script.js' %}"></script>
<script>
    const username = "{{ user.username }}"; // Extract just the username
    const current_user = "{{ current_user.username }}"
    document.addEventListener("DOMContentLoaded", function() {
    loadUserPosts(username, 1); // Call the function with the username
    
});
</script>
{% endblock %}
