{% extends "network/layout.html" %}
{% load static %}
{% block body %}
<div class="profile">
{% if is_owner %}
    <h3>MY PROFILE</h3>
{% else %}
    <h3>{{ user.username }}'s PROFILE</h3>
    {% if current_user in follower_list %}
    <form action="{% url 'unfollow_user' user.username %}" method="post" style="display: inline;">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Unfollow</button>
    </form>
    {% else %}
    <form action="{% url 'follow_user' user.username %}" method="post" style="display: inline;">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">Follow</button>
    </form>
    {% endif %}

{% endif %}
<div>
    <p>followers:{{follower}}</p>
</div>
<div>
    <p>followings:{{following}}</p>
</div>
</div>
<div id="posts-container"></div>
    
</div>
<div id="pagination-buttons"></div>


{% endblock %}

{% block script %}
<script src="{% static 'network/script.js' %}"></script>
<script>
    const username = "{{ user.username }}"; // Extract just the username
    document.addEventListener("DOMContentLoaded", function() {
    loadPage(1,username) // Call the function with the username
    document.querySelectorAll(".edit-btn").forEach(button =>{
      button.addEventListener("click",edit_content())
     });
     document.querySelectorAll(".edit-btn").forEach(button => {
      button.addEventListener("click", edit_content); // Remove the parentheses
    });
    const allPostsLink = document.getElementById('following');
    allPostsLink.addEventListener('click', function (event) {
    event.preventDefault();
    document.querySelector('.profile').style.display = 'none';

    // Call your function to load all posts or perform any action
    loadPage(1,'following'); 
 });
 const allpost = document.getElementById('allpost');
    allpost.addEventListener('click', function (event) {
    event.preventDefault();
    document.querySelector('.profile').style.display = 'none';

    // Call your function to load all posts or perform any action
    loadPage(1,'allpost'); 
 });
    
});
</script>
{% endblock %}
